*{margin:0px; padding:0px;}

body{
    color:#000;
    overflow: hidden;
	font: 1em/1.2em Helvetica, sans-serif;}

.heading{
    position:absolute;
    top: 20px;
    left: 20px;
    z-index: 100;}

.content{position:relative;float:left;width:100%;height:100vh;overflow:hidden;}

.content p{font-size:9px;}

.content ul{
    list-style:none;
    width:2440vh;
    float:left;}

.content ul li{padding:0px;float:left;}

.text{
    position: absolute;
    text-align: left;
    bottom: 6vh;
    padding: 0 0 0 20px;
    width: 40vw;
    color: #fff;
	font: .8em/1.1em Helvetica, sans-serif;}

.black {color: #000;}
.spacer {width: 5vw !important;}

a:visited {color: #fff;}
a {color: #fff;}

span img {height:100vh;}
.ss img {height: 110vh;margin:-2.5vh 0 0 -5vh;}
